* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
html, body, header{
    background-color: #fff;
}

body {
    font-size: 16px;
    
}

section {
    background-color: #fff;
    padding: 2rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: start;
}

.vetor h1 {
    margin: 5rem;
    position: relative;
    z-index: 9;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #4169E1;
    margin: 10px;
}

h3 {
    font-size: 2rem;
    margin-top: .5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
}

input[type="text"]{
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
}

.button {
    background-color: #4169E1;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    width: fit-content;

}

.button:hover {
    opacity: .75;
}

.posts-item {
    width: calc(100% / 3);
    padding: 1rem;
}