*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
}

body {
    display: block;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow: overlay;
    font-family: 'Nunito', sans-serif;
   
}

h1, h2, h3{
    font-family: 'Nunito', sans-serif;
}

.botao{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #1310BE;
    font-size: .9em;
    border-radius: 3px;
}

nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: #1310BE;
    
}


nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Yellowtail' sans-serif;
    padding: 1rem;
    
}

nav ul{
    display: flex;
    flex-direction:row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    gap: .5rem;
    

}

nav ul li{
    text-align: center;
    width: 100%;
  
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    
}
 header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Imagens/Foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
 }

 header h1{
     color: #FFFFFF;
 }

 header p{
     margin-bottom: 2em;
 }

 #sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #1310BE;
    color: #FFFFFF;
 }

 #sobre h2{
    color: #FFFFFF;
 }

 #sobre p{
     margin-bottom: 2.5em;
     max-width: 1000px;
 }

 #serviços{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px;
 }

 #serviços div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
 }

 footer{
    text-align: center;
    background-color: #1310BE;
    color: #FFFFFF;
 }

 footer a{
     text-decoration: none;
     color: #FFFFFF;
 }

 @media (min-width: 769px){
    body{
        background-image: url("../Imagens/pattern4.png");
    } 
}

@media (max-width: 768px){
    nav, article {  
        width:100%;
        height: auto;
    }  
}

@media (max-width: 425px){
    nav, article {  
        width:100%;
        height: auto;
    }  

}