/* Arquivo CSS com estilos dos elelmentos de todas as páginas */
* {
        box-sizing: border-box;
      }


      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      body{
        background: url('/C:/Users/lucas/OneDrive/Área de Trabalho/Front-End/html/Imagens/pattern4.png') center top repeat #EEEEEE;
      }

      h1 {
        background-color:#555;
        border-radius: 12px;
        color: white;
        text-align: center;

      }

      h1:hover{ 
          color: #FF7F50;
      }

      header:hover{
        color: #F8F8FF;
      }

      h1 + p{
        width: 25%;
        height: 50%;
        position: relative;
        animation: mymove 5s infinite;
        border-radius: 10px;
      }

      h1 + p{
        font-size: 14px;
        background-color: #555;
        text-align: center;
        color: white;
      }

      #p1{animation-timing-function: linear;}

      @keyframes mymove {
          from{left: 0;}
          to{left: 300px;}
          from{background-color: #0000FF;}
          to{background-color: #FF0000;}
      }

      ul {
        list-style-type: none;
        margin: 0.5;
        padding: 0.5;
      }

      a{
        color: white;
        text-align: center;
      }


      li a {
        display: flex;
        background-color: #555;
        padding-top: 8px 16px;
        text-decoration: none;
        border: 2px solid tomato;
        border-radius: 12px;
        padding: .5em;
    
      }

      /* Change the link color on hover */
      li a:hover {
        background-color: #FF7F50;
      }

      input{
        padding: 1rem;
      }


      [type=text], [type="email"], textarea, label {
        width: 100%;
        display: block;
      }

      /* Style the header */
      header {
        background-color: #FF6347;
        padding: 10px;
        text-align: center;
        font-size: 35px;
        color: white;
      }

      form {
        background-color: #B0E0E6;
        padding: 10px;
      }

      form div {
        border: 1px inset;
        /*
        border-top: 1px solid #33f;
        border-right: 1px solid #33f;
        border-left: 1px solid #33f;
        */
        background-color: #fff;
        margin: 10px 10px 10px 10px;
        padding: 20px;
      }

      /* create two coluns/boxes that floas next to each other */
      nav {
        float: left;
        width: 30%;
        padding: 1rem;

      }

      /* Style the list inside the menu */
      nav ul {
        list-style-type: none;
        padding: 0;
      }

      article {
        float: left;
        padding: 20px;
        width: 70%;
      }

      /* clear flaots after the colums */

      section ::After {
        content: "";
        display: table;
        clear: both;
      }

      section{
        background: rgba(255, 255, 255, 0.75);
      }

      /* Style the footer */

      footer{
        color: white;
      }

      footer {
        text-align: center;  
        background-color: #ff6347;

      }

      /* Responsive layout - make the two colums/boxes stack on top of each other instead of next to each other, on small screens */
      @media (min-width: 769px){
        body{
            background-image: url("../Imagens/pattern4.png");
        } 
    }
    
    @media (max-width: 768px){
        nav, article {  
            width:100%;
            height: auto;
        }  
    }
    
    @media (max-width: 425px){
        nav, article {  
            width:100%;
            height: auto;
        }  
    
    }