@font-face {
    font-family: 'penguin';
    src: url('../assets/fonts/penguin-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/penguin-regular-webfont.woff') format('woff'),
         url('../assets/fonts/Penguin-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}